[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
uuid = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-bcrypt = "*"
pyjwt = "1.7.1"
python-magic = "*"

[requires]
python_version = "3.8.5"
